html,
body {
  height: 100%;
}

body {
  @extend %gothampro-regular;
  color: $accent-color;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  color: $accent-color;
}

.btn {
  @extend %gothampro-bold;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 11px;
  text-align: center;
  padding: 27px 44px;
  border-radius: 90px;
  line-height: 118.2%;
  letter-spacing: 0.125em;
  box-shadow: 0px 6px 21px rgba(104, 130, 245, 0.67);
  background: linear-gradient(272.77deg, #864FF1 0%, #49B3F7 100%);
  margin-bottom: 10px;
}

.title {
  @extend %alsschlangesans-bold;
  text-align: center;
  font-size: 50px;
  line-height: 103.2%;
  margin-bottom: 60px;
}

.header-social {
  display: flex;
  align-items: center;

  span {
    padding-left: 10px;
    color: #737373;
  }
  &__link {
    margin-left: 15px;
  }
}

.offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EFF2FD;
  border-radius: 25px;
  padding: 23px 47px 20px 55px;

  &__box-img {
    margin-top: -80px;
  }

  &__title {
    @extend %alsschlangesans-bold;
    font-size: 32px;
    line-height: 103.2%;
    margin-bottom: 5px;
    max-width: 524px;
  }

  &__text {
    font-size: 16px;
    line-height: 130%;
    max-width: 520px;
  }
}