@media (max-width: 1000px) {
  .header {
    padding-bottom: 50px;

    &__top-phone {
      font-size: 18px;
    }

    &__content {
      background-image: url('../images/adaptive/header-content-bg.png');
      background-position: center right;
    }

    &__content-title {
      font-size: 78px;
      margin-bottom: 30px;
      max-width: 633px;
    }

    &__content-descr,
    &__content-text {
      font-size: 16px;
      max-width: 445px;
    }
  }

  .logo__img {
    width: 170px;
    height: 48px;
  }

  .education {
    padding-top: 70px;

    .title {
      font-size: 40px;
      margin-bottom: 40px;
    }

    &__item-text {
      max-width: 169px;
    }

    .offer {
      padding: 19px 20px 18px 183px;

      &__title {
        font-size: 26px;
        margin-bottom: 15px;
      }

      &__text {
        font-size: 14px;
        max-width: 432px;
      }
    }

    .offer--girl::before {
      left: 30px;
      width: 132px;
      height: 199px;
      background-size: cover;
    }
  }


  .lessons {
    .title {
      font-size: 40px;
    }

    &__items {
      grid-gap: 28px 0;
      background-size: 650px;
    }

    &__item-img {
      max-width: 200px;
      max-height: 180px;
    }

    &__item-title {
      text-align: left;
      font-size: 17px;
      line-height: 103%;
    }

    &__item-text {
      font-size: 14px;
      max-width: 235px;
    }
  }

  .benefits {
    padding: 40px 0;

    &__title {
      font-size: 40px;
      margin-bottom: 40px;
    }

    &__items {
      &::after {
        width: 480px;
        height: 313px;
        top: 38%;
        left: 46%;
        background-size: cover;
      }
    }

    &__item {
      margin-bottom: 12px;
    }

    &__item-title {
      max-width: 432px;
    }

    &__item-text {
      font-size: 14px;
      max-width: 400px;
    }
  }

  .comparison {
    .title {
      font-size: 40px;
      margin-bottom: 50px;
    }

    &__items {

      &::after {
        width: 228px;
        height: 210px;
        left: 12px;
        top: 42px;
        background-size: cover;
      }

      &::before {
        width: 228px;
        height: 213px;
        right: 5px;
        top: 48%;
        background-size: cover;
      }
    }

    &__regular {
      padding: 21px 50px;
      max-height: 425px;
    }

    &__regular-title {
      font-size: 28px;
    }

    &__regular-item {
      font-size: 14px;
    }

    &__online {
      padding: 30px 43px 30px 72px;
    }

    &__online-title {
      font-size: 32px;
    }

    &__online-item {
      font-size: 16px;
    }
  }

  .info {
    &__title {
      font-size: 40px;
      margin-bottom: 40px;
      max-width: 665px;
    }

    &__items {
      grid-gap: 40px 30px;
      margin-bottom: 70px;
    }

    &__item-img {
      max-width: 150px;
      max-height: 150px;
    }

    &__item-title {
      font-size: 18px;
    }

    &__item-text {
      max-width: 265px;
    }

    .offer {
      padding: 19px 20px 18px 183px;

      &__title {
        font-size: 26px;
        margin-bottom: 15px;
      }

      &__text {
        font-size: 14px;
        max-width: 432px;
      }
    }

    .offer--boy::before {
      left: 30px;
      width: 138px;
      height: 209px;
      background-size: cover;
    }
  }

  .pricing {
    padding: 40px 0;

    &__title {
      font-size: 40px;
      margin-bottom: 105px;
    }

    &__item--one::after {
      width: 128px;
      height: 195px;
      background-size: cover;
      right: -35px;
      z-index: 1;
    }

    &__item--two::after {
      width: 114px;
      height: 248px;
      background-size: cover;
      right: -35px;
      z-index: 1;
    }

    &__item--three::after {
      width: 109px;
      height: 305px;
      background-size: cover;
      right: -32px;
      z-index: 1;
    }

    &__item-price {
      font-size: 32px;
      left: 15%;
      padding: 20px 25px;
      top: -13%;
    }
  }

  .certificate {
    &__title {
      font-size: 40px;
      margin-bottom: 35px;
    }

    &__text {
      max-width: 465px;
      font-size: 18px;
    }

    &__img {
      max-width: 380px;
      max-height: 334px;
    }
  }

  .reviews {
    &__title {
      font-size: 40px;
      margin-bottom: 180px;
    }
  }

  .accordion {
    &__item {
      padding: 40px 47px 40px 58px;
    }

    &__item-label {
      font-size: 28px;
    }

    &__item-text:last-child {
      margin-bottom: 50px;
    }
  }

  .form-wrapper {
    padding-bottom: 80px;
  }

  .form {
    &__box {
      padding: 76px 0 0 75px;

      &::before {
        width: 331px;
        height: 402px;
        background-size: cover;
      }
    }

    &__info-title {
      font-size: 40px;
      margin-bottom: 40px;
    }

    &__info-text {
      margin: 0;
      margin-left: auto;
      font-size: 18px;
      max-width: 450px;
    }

    &__info-img {
      max-width: 485px;
      max-height: 321px;
    }
  }

  .footer {
    padding-top: 30px;

    .logo__img {
      width: 170px;
      height: 48px;
    }

    &__classes-item {
      margin-bottom: 5px;
    }

    &__classes-title,
    &__documents-title,
    &__social-title {
      font-size: 18px;
    }

    &__contacts-address,
    &__contacts-phone {
      font-size: 14px;

      &::before {
        width: 40px;
        height: 40px;
        background-size: cover;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding-bottom: 30px;

    &__top-phone {
      font-size: 16px;
    }

    &__box {
      margin-bottom: 15px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: none;
    }

    &__content-title {
      font-size: 60px;
      margin-bottom: 40px;
      max-width: 505px;
      text-align: center;
    }

    &__content-descr,
    &__content-text {
      text-align: center;
      max-width: 562px;
      margin-bottom: 30px;
    }
  }

  .header-social {
    font-size: 14px;
  }

  .education {
    padding-top: 60px;

    .title {
      font-size: 38px;
    }

    &__items {
      flex-wrap: wrap;
      grid-gap: 40px;
      margin-bottom: 35px;
    }

    &__item-box {
      margin-bottom: 20px;
    }

    &__item-text {
      max-width: 165px;
    }


    .offer {
      padding: 25px 25px 18px 225px;
      flex-direction: column;
      align-items: flex-start;

      &__title {
        font-size: 24px;
      }

      &__text {
        font-size: 14px;
        max-width: 439px;
        margin-bottom: 20px;
      }

      .btn {
        margin-bottom: 15px;
      }
    }

    .offer--girl::before {
      left: 23px;
      top: -15px;
      width: 168px;
      height: 253px;
    }
  }

  .lessons {
    .title {
      font-size: 38px;
      max-width: 622px;
      margin: 0 auto;
      margin-bottom: 40px;
    }

    &__items {
      background-image: none;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      grid-gap: 40px;
    }

    &__item {
      display: block;

      &:nth-child(3),
      &:nth-child(4) {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    &__item-img {
      max-width: 180px;
      max-height: 150px;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    &__item-title {
      text-align: center;
      font-size: 17px;
      line-height: 103%;
    }

    &__item-text {
      text-align: center;
      font-size: 14px;
      max-width: 324px;
    }
  }

  .benefits {
    &__title {
      text-align: center;
      font-size: 38px;
    }

    &__items {
      &::after {
        max-width: 320px;
        max-height: 208px;
        top: 80%;
        left: 55%;
      }
    }

    &__item {
      max-width: 100%;
    }

    &__item-text {
      max-width: 585px;
    }

    &__item-text--size {
      max-width: 350px;
    }
  }

  .comparison {
    .title {
      font-size: 38px;
    }

    &__items::after,
    ::before {
      background-image: none;
    }
  }

  .info {
    &__title {
      font-size: 38px;
      max-width: 630px;
    }

    &__items {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px 88px;
      margin-bottom: 70px;
    }

    &__item-img {
      max-width: 150px;
      max-height: 150px;
    }

    &__item-title {
      font-size: 18px;
    }

    &__item-text {
      max-width: 300px;
    }

    .offer {
      padding: 25px 25px 18px 225px;
      flex-direction: column;
      align-items: flex-start;

      &__title {
        font-size: 24px;
      }

      &__text {
        font-size: 14px;
        max-width: 439px;
        margin-bottom: 20px;
      }

      .btn {
        margin-bottom: 15px;
      }
    }

    .offer--boy::before {
      left: 23px;
      top: -15px;
      width: 168px;
      height: 253px;
    }
  }

  .pricing {
    &__title {
      font-size: 38px;
    }

    &__items {
      grid-gap: 100px 60px;
    }
  }

  .certificate {
    padding-top: 40px;

    &__inner {
      flex-direction: column;
    }

    &__info {
      margin: 0 auto;
      margin-bottom: 30px;
    }

    &__title {
      margin: 0 auto;
      text-align: center;
      max-width: 450px;
      font-size: 38px;
      margin-bottom: 40px;
    }

    &__text {
      text-align: center;
      max-width: 550px;
      font-size: 20px;
    }

    &__img {
      max-width: 336px;
      max-height: 296px;
    }
  }

  .accordion {
    &__item {
      padding: 30px 47px 30px 55px;
      margin-bottom: 20px;
    }

    &__item-label {
      font-size: 24px;

      &::after {
        width: 40px;
        height: 40px;
        background-size: cover;
      }
    }

    &__item-text {
      margin-top: 30px;
    }
  }

  .form-wrapper {
    padding-bottom: 80px;
  }

  .form {
    &__inner {
      flex-direction: column-reverse;
    }

    &__box {
      margin: 0 auto;
    }

    &__info-title {
      font-size: 38px;
    }

    &__info-text {
      margin: 0 auto;
      text-align: center;
      max-width: 530px;
      margin-bottom: 30px;
    }

    &__info-img {
      display: none;
    }
  }

  .footer {
    &__inner {
      grid-gap: 30px 65px;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    &__social-img {
      width: 30px;
      height: 30px;
    }

    &__contacts {
      display: flex;
      margin: 0 auto;
      max-width: 100%;
    }

    &__contacts-address {
      margin-right: 110px;
    }

    &__info {
      text-align: center;
      margin: 0 auto;
      margin-top: 30px;
    }
  }
}

@media (max-width: 480px) {
  .header {
    padding-bottom: 50px;

    &__box {
      position: absolute;
      top: 65px;
      left: 0;
      right: 0;
      background: #EFF2FD;
      box-shadow: 5px 15px 40px rgba(30, 35, 66, 0.15);
      border-radius: 0px 0px 15px 15px;
      padding: 55px 0 40px;
      flex-direction: column;
      transform: translateY(-200%);
      transition: all .5s;
      margin: 0;
    }

    .header__box--active {
      border-top: 1px solid #e4e5ec;
      transform: translateY(0%);
      transition: all .5s;
      background-color: #fff;
    }

    &__top {
      border-bottom: none;
    }

    &__top-phone {
      display: none;
    }

    &__btn {
      display: none;
    }

    &__content {
      margin-top: 75px;
    }

    &__content-title {
      font-size: 40px;
      margin-bottom: 30px;
      max-width: 331px;
    }

    &__content-descr,
    &__content-text {
      font-size: 15px;
      max-width: 410px;
    }

    .btn {
      padding: 27px 56px;
    }
  }

  .menu {
    &__list {
      flex-direction: column;
      transition: all .5s;
    }

    &__list-link {
      display: block;
      text-align: center;
      font-size: 16px;
      line-height: 100%;
    }

    &__list-item {
      margin-bottom: 20px;

      &+.menu__list-item {
        margin-left: 0;
      }

      &:last-child {
        margin-bottom: 40px;
      }
    }

    &__btn {
      width: 43px;
      height: 43px;
      background-color: transparent;
      background: linear-gradient(272.77deg, #864FF1 0%, #49B3F7 100%);
      box-shadow: 0px 6px 21px rgba(104, 130, 245, 0.67);
      border-radius: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .user__nav {
    margin: 0 auto;
  }

  .education {
    padding-bottom: 70px;

    .title {
      font-size: 34px;
      margin-bottom: 30px;
    }

    &__items {
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      grid-gap: 20px 0;
      margin-bottom: 50px;
    }

    &__item {
      display: flex;
      align-items: center;
      text-align: left;
    }

    &__item-box {
      margin-bottom: 20px;
    }

    &__item-text {
      text-align: left;
      margin-left: 30px;
    }


    .offer {
      padding-left: 144px;

      &__title {
        max-width: 270px;
        margin-bottom: 20px;
      }

      &__text {
        font-size: 16px;
        margin-bottom: 30px;
      }

      .btn {
        padding: 27px 56px;
        margin-left: -55px;
        margin-bottom: 10px;
      }
    }

    .offer--girl::before {
      left: 20px;
      top: 30px;
      width: 94px;
      height: 141px;
    }
  }

  .lessons {
    padding-bottom: 70px;

    .title {
      font-size: 34px;
      margin-bottom: 30px;
    }

    &__items {
      grid-template-columns: repeat(1, 1fr);
    }

    &__item-title {
      font-size: 20px;
      margin-bottom: 15px;
    }

    &__item-text {
      font-size: 15px;
      max-width: 354px;
    }
  }

  .benefits {
    padding: 30px 0;

    &__title {
      margin-bottom: 30px;
      font-size: 34px;
    }

    &__items::after {
      background-image: none;
      width: 0;
      height: 0;
    }

    &__item {
      padding: 14px 36px 14px 66px;
      margin-bottom: 30px;
    }

    &__item--two::before {
      top: 65px;
    }

    &__item--three::before {
      top: 35px;
    }

    &__item-title {
      max-width: 310px;
    }

    &__item-text {
      max-width: 310px;
    }

    &__item-text--size {
      max-width: 350px;
    }

    .btn {
      display: block;
      margin: 0 auto;
      margin-bottom: 10px;
    }

    .header-social {
      justify-content: center;
    }
  }

  .comparison {
    padding: 70px 0;

    .title {
      font-size: 34px;
      margin-bottom: 30px;
    }

    &__items {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__regular {
      margin-right: 0;
    }
  }

  .info {
    padding: 70px 0;

    &__title {
      font-size: 34px;
      margin-bottom: 35px;
    }

    &__items {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px 0;
      margin-bottom: 50px;
    }

    &__item-box {
      min-height: 150px;
      margin-bottom: 30px;
    }

    &__item-img {
      max-width: 150px;
      max-height: 150px;
    }

    &__item-title {
      font-size: 20px;
    }

    &__item-text {
      font-size: 15px;
      max-width: 366px;
    }

    .offer {
      padding: 50px 27px 28px 144px;

      &__title {
        max-width: 270px;
        margin-bottom: 20px;
      }

      &__text {
        font-size: 16px;
        margin-bottom: 30px;
      }

      .btn {
        padding: 27px 56px;
        margin-left: -55px;
        margin-bottom: 10px;
      }
    }

    .offer--boy::before {
      left: 15px;
      top: 37px;
      width: 101px;
      height: 154px;
    }
  }

  .pricing {
    padding: 20px 0 30px;

    &__title {
      max-width: 380px;
      font-size: 34px;
      margin: 0 auto;
      margin-bottom: 95px;
    }
  }

  .certificate {
    padding: 70px 0;

    &__title {
      font-size: 34px;
      margin-bottom: 30px;
      max-width: 400px;
    }

    &__text {
      max-width: 440px;
    }

    &__img {
      max-width: 352px;
      max-height: 310px;
    }
  }

  .accordion {
    padding-bottom: 70px;

    &__item {
      padding: 22px 47px 22px 35px;
    }

    &__item-label {
      font-size: 20px;
      max-width: 344px;

      &::after {
        right: -55px;
        top: 0px;
      }
    }

    &__item-text {
      font-size: 14px;
      margin-top: 20px;
    }
  }

  .form__box {
    padding: 0;

    &::before {
      display: none;
    }
  }

  .form {
    &__info-title {
      font-size: 34px;
      margin-bottom: 30px;
    }
  }

  .footer {
    &__inner {
      grid-gap: 40px 52px;
    }

    &__contacts-address {
      margin-right: 30px;
    }

    .logo {
      display: block;
      width: 100%;
    }

    .logo__img {
      width: 236px !important;
      height: 67px !important;
    }
  }
}

@media (max-width: 415px) {
  .header {
    padding-bottom: 25px;
    &__content {
      margin-top: 75px;
    }

    &__content-descr,
    &__content-text {
      max-width: 335px;
    }

    &__content-text {
      margin-bottom: 25px;
    }
  }

  .header-social {
    margin-left: -40px;

    &__link {
      margin-left: 10px;
    }
  }

  .education {
    padding: 50px 0;

    &__items {
      grid-gap: 30px 0;
    }

    &__item-box {
      margin-bottom: 0;
    }

    .offer {
      padding-left: 140px;

      &__title {
        max-width: 217px;
        margin-bottom: 10px;
      }

      &__text {
        font-size: 14px;
        max-width: 210px;
      }

      .btn {
        margin-left: -70px;
        margin-bottom: 15px;
      }
    }
  }

  .lessons {
    padding-bottom: 50px;

    &__item-text {
      max-width: 310px;
    }
  }

  .benefits {
    &__title {
      margin: 0 auto;
      margin-bottom: 30px;
      max-width: 268px;
    }

    &__item {
      margin-bottom: 15px;
    }

    &__item-title {
      font-size: 17px;
      max-width: 280px;
    }

    &__item-text {
      max-width: 280px;
    }
  }

  .comparison {
    padding: 50px 0;
  }

  .info {
    padding: 0 0 50px;

    &__title {
      font-size: 34px;
      margin-bottom: 30px;
    }

    .offer {
      padding-left: 140px;

      &__title {
        max-width: 217px;
        margin-bottom: 10px;
      }

      &__text {
        font-size: 14px;
        max-width: 210px;
      }

      .btn {
        margin-left: -70px;
        margin-bottom: 15px;
      }
    }
  }

  .pricing {
    padding: 30px 0 30px;
  }

  .certificate {
    padding: 50px 0;

    &__title {
      max-width: 270px;
    }

    &__text {
      font-size: 15px;
      max-width: 310px;
    }
  }

  .accordion {
    padding-bottom: 50px;

    &__item {
      padding: 22px 47px 22px 35px;
    }

    &__item-label {
      max-width: 270px;
    }
  }

  .form-wrapper {
    padding-bottom: 50px;
  }

  .form {
    &__info-text {
      max-width: 315px;
      font-size: 15px;
    }
  }

  .footer {
    &__inner {
      grid-gap: 30px 52px;
    }

    &__classes {
      display: none;
    }

    &__contacts {
      flex-direction: column;
    }

    &__contacts-address {
      font-size: 15px;
      margin-right: 0;
    }

    &__contacts-phone {
      font-size: 15px;
    }
  }
}

@media (max-width: 320px) {
  .header {
    .logo {
      width: 120px;
      height: 34px;
    }

    &__content {
      margin-top: 80px;
    }

    &__content-title {
      font-size: 34px;
      margin-bottom: 20px;
    }
  }

  .education {
    .title {
      font-size: 28px;
    }

    .offer {
      align-items: center;
      padding: 30px 20px 17px;

      &__title {
        font-size: 20px;
        margin-bottom: 20px;
        text-align: center;
      }

      &__text {
        font-size: 14px;
        text-align: center;
      }

      .btn {
        padding: 21px 22px;
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }
  }

  .offer--girl::before,
  .offer--boy::before {
    display: none;
  }

  .header-social {
    margin-left: 0;
  }

  .lessons {
    .title {
      font-size: 28px;
    }
  }

  .benefits {
    &__title {
      font-size: 28px;
    }

    &__item {
      padding: 14px 14px 14px 66px;
    }

    &__item-title {
      font-size: 16px;
    }

    &__item-text {
      max-width: 220px;
    }
  }

  .comparison {
    .title {
      font-size: 28px;
    }

    &__regular {
      padding: 10px 50px;
    }

    &__regular-title {
      font-size: 24px;
      margin-bottom: 15px;
    }

    &__online {
      padding: 15px 43px 15px 50px;
    }

    &__online-title {
      font-size: 26px;
      margin-bottom: 15px;
    }
  }

  .info {
    &__title {
      font-size: 28px;
    }

    &__item-title {
      font-size: 18px;
    }

    .offer {
      align-items: center;
      padding: 30px 20px 17px;

      &__title {
        font-size: 20px;
        margin-bottom: 20px;
        text-align: center;
      }

      &__text {
        font-size: 14px;
        text-align: center;
      }

      .btn {
        padding: 21px 22px;
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }
  }

  .pricing {
    &__title {
      font-size: 28px;
    }

    &__item--one::after,
    &__item--two::after,
    &__item--three::after {
      display: none;
    }

    &__item-price {
      font-size: 26px;
    }
  }

  .certificate {
    &__title {
      font-size: 28px;
    }

    &__img {
      width: 280px;
      height: 247px;
    }
  }

  .accordion {
    &__item {
      padding: 22px 65px 22px 15px;
    }

    &__item-label {
      font-size: 17px;
    }
  }

  .form {
    &__info-title {
      font-size: 28px;
      max-width: 280px;
    }

    &__info-text {
      font-size: 14px;
    }
  }

  .footer {
    .logo {
      width: 120px;
      height: 34px;
      margin-bottom: 30px;
    }

    &__inner {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__classes,
    &__documents {
      margin-bottom: 20px;
    }

    &__contacts-address,
    &__contacts-phone {
      font-size: 14px;
    }
  }
}