@media (max-width: 1000px) {
  .header {
    padding-bottom: 50px;

    &__top-phone {
      font-size: 18px;
    }

    &__content {
      background-image: url('../images/adaptive/header-content-bg.png');
      background-position: center right;
    }

    &__content-title {
      font-size: 78px;
      margin-bottom: 30px;
      max-width: 633px;
    }

    &__content-descr,
    &__content-text {
      font-size: 16px;
      max-width: 445px;
    }
  }

  .education {
    padding-top: 70px;

    .title {
      font-size: 40px;
      margin-bottom: 40px;
    }

    &__item-text {
      max-width: 169px;
    }

    .offer {
      padding: 19px 20px 18px 183px;

      &__title {
        font-size: 26px;
        margin-bottom: 15px;
      }

      &__text {
        font-size: 14px;
        max-width: 432px;
      }
    }

    .offer--girl::before {
      left: 30px;
      width: 132px;
      height: 199px;
      background-size: cover;
    }
  }


  .lessons {
    .title {
      font-size: 40px;
    }

    &__items {
      grid-gap: 28px 0;
      background-size: 650px;
    }

    &__item-img {
      max-width: 200px;
      max-height: 180px;
    }

    &__item-title {
      text-align: left;
      font-size: 17px;
      line-height: 103%;
    }

    &__item-text {
      font-size: 14px;
      max-width: 235px;
    }
  }

  .benefits {
    padding: 40px 0;

    &__title {
      font-size: 40px;
      margin-bottom: 40px;
    }

    &__items {
      &::after {
        width: 480px;
        height: 313px;
        top: 38%;
        left: 46%;
        background-size: cover;
      }
    }

    &__item {
      margin-bottom: 12px;
    }

    &__item-title {
      max-width: 432px;
    }

    &__item-text {
      font-size: 14px;
      max-width: 400px;
    }
  }

  .comparison {
    .title {
      font-size: 40px;
      margin-bottom: 50px;
    }

    &__items {

      &::after {
        width: 228px;
        height: 210px;
        left: 12px;
        top: 42px;
        background-size: cover;
      }

      &::before {
        width: 228px;
        height: 213px;
        right: 5px;
        top: 48%;
        background-size: cover;
      }
    }

    &__regular {
      padding: 21px 50px;
      max-height: 425px;
    }

    &__regular-title {
      font-size: 28px;
    }

    &__regular-item {
      font-size: 14px;
    }

    &__online {
      padding: 30px 43px 30px 72px;
    }

    &__online-title {
      font-size: 32px;
    }

    &__online-item {
      font-size: 16px;
    }
  }

  .info {
    &__title {
      font-size: 40px;
      margin-bottom: 40px;
      max-width: 665px;
    }

    &__items {
      grid-gap: 40px 30px;
      margin-bottom: 70px;
    }

    &__item-img {
      max-width: 150px;
      max-height: 150px;
    }

    &__item-title {
      font-size: 18px;
    }

    &__item-text {
      max-width: 265px;
    }

    .offer {
      padding: 19px 20px 18px 183px;

      &__title {
        font-size: 26px;
        margin-bottom: 15px;
      }

      &__text {
        font-size: 14px;
        max-width: 432px;
      }
    }

    .offer--boy::before {
      left: 30px;
      width: 138px;
      height: 209px;
      background-size: cover;
    }
  }

  .pricing {
    padding: 40px 0;

    &__title {
      font-size: 40px;
      margin-bottom: 105px;
    }

    &__item--one::after {
      width: 128px;
      height: 195px;
      background-size: cover;
      right: -35px;
      z-index: 1;
    }

    &__item--two::after {
      width: 114px;
      height: 248px;
      background-size: cover;
      right: -35px;
      z-index: 1;
    }

    &__item--three::after {
      width: 109px;
      height: 305px;
      background-size: cover;
      right: -32px;
      z-index: 1;
    }

    &__item-price {
      font-size: 32px;
      left: 15%;
      padding: 20px 25px;
      top: -13%;
    }
  }

  .certificate {
    &__title {
      font-size: 40px;
      margin-bottom: 35px;
    }

    &__text {
      max-width: 465px;
      font-size: 18px;
    }

    &__img {
      max-width: 380px;
      max-height: 334px;
    }
  }

  .reviews {
    &__title {
      font-size: 40px;
      margin-bottom: 180px;
    }
  }

  .accordion {
    &__item {
      padding: 40px 47px 40px 58px;
    }

    &__item-label {
      font-size: 28px;
    }

    &__item-text:last-child {
      margin-bottom: 50px;
    }
  }

  .form-wrapper {
    padding-bottom: 80px;
  }

  .form {
    &__box {
      padding: 76px 0 0 75px;

      &::before {
        width: 331px;
        height: 402px;
        background-size: cover;
      }
    }

    &__info-title {
      font-size: 40px;
      margin-bottom: 40px;
    }

    &__info-text {
      margin: 0;
      margin-left: auto;
      font-size: 18px;
      max-width: 450px;
    }

    &__info-img {
      max-width: 485px;
      max-height: 321px;
    }
  }

  .footer {
    padding-top: 30px;

    .logo__img {
      max-width: 170px;
      max-height: 48px;
    }

    &__classes-item {
      margin-bottom: 5px;
    }

    &__classes-title,
    &__documents-title,
    &__social-title {
      font-size: 18px;
    }

    &__contacts-address,
    &__contacts-phone {
      font-size: 14px;

      &::before {
        width: 40px;
        height: 40px;
        background-size: cover;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding-bottom: 30px;

    &__top-phone {
      font-size: 16px;
    }

    &__box {
      margin-bottom: 50px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: none;
    }

    &__content-title {
      font-size: 60px;
      margin-bottom: 40px;
      max-width: 505px;
      text-align: center;
    }

    &__content-descr,
    &__content-text {
      text-align: center;
      max-width: 562px;
      margin-bottom: 30px;
    }
  }

  .header-social {
    font-size: 14px;
  }

  .education {
    padding-top: 60px;

    .title {
      font-size: 38px;
    }

    &__items {
      flex-wrap: wrap;
      grid-gap: 40px;
      margin-bottom: 35px;
    }

    &__item-box {
      margin-bottom: 20px;
    }

    &__item-text {
      max-width: 165px;
    }


    .offer {
      padding: 25px 25px 18px 225px;
      flex-direction: column;
      align-items: flex-start;

      &__title {
        font-size: 24px;
      }

      &__text {
        font-size: 14px;
        max-width: 439px;
        margin-bottom: 20px;
      }

      .btn {
        margin-bottom: 15px;
      }
    }

    .offer--girl::before {
      left: 23px;
      top: -15px;
      width: 168px;
      height: 253px;
    }
  }

  .lessons {
    .title {
      font-size: 38px;
      max-width: 622px;
      margin: 0 auto;
      margin-bottom: 40px;
    }

    &__items {
      background-image: none;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      grid-gap: 40px;
    }

    &__item {
      display: block;

      &:nth-child(3),
      &:nth-child(4) {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    &__item-img {
      max-width: 180px;
      max-height: 150px;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    &__item-title {
      text-align: center;
      font-size: 17px;
      line-height: 103%;
    }

    &__item-text {
      text-align: center;
      font-size: 14px;
      max-width: 324px;
    }
  }

  .benefits {
    &__title {
      text-align: center;
      font-size: 38px;
    }

    &__items {
      &::after {
        max-width: 320px;
        max-height: 208px;
        top: 80%;
        left: 55%;
      }
    }

    &__item {
      max-width: 100%;
    }

    &__item-text {
      max-width: 585px;
    }

    &__item-text--size {
      max-width: 350px;
    }
  }

  .comparison {
    .title {
      font-size: 38px;
    }

    &__items::after,
    ::before {
      background-image: none;
    }
  }

  .info {
    &__title {
      font-size: 38px;
      max-width: 630px;
    }

    &__items {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px 88px;
      margin-bottom: 70px;
    }

    &__item-img {
      max-width: 150px;
      max-height: 150px;
    }

    &__item-title {
      font-size: 18px;
    }

    &__item-text {
      max-width: 300px;
    }

    .offer {
      padding: 25px 25px 18px 225px;
      flex-direction: column;
      align-items: flex-start;

      &__title {
        font-size: 24px;
      }

      &__text {
        font-size: 14px;
        max-width: 439px;
        margin-bottom: 20px;
      }

      .btn {
        margin-bottom: 15px;
      }
    }

    .offer--boy::before {
      left: 23px;
      top: -15px;
      width: 168px;
      height: 253px;
    }
  }

  .pricing {
    &__title {
      font-size: 38px;
    }

    &__items {
      grid-gap: 100px 60px;
    }
  }

  .certificate {
    padding-top: 40px;

    &__inner {
      flex-direction: column;
    }

    &__info {
      margin: 0 auto;
      margin-bottom: 30px;
    }

    &__title {
      margin: 0 auto;
      text-align: center;
      max-width: 450px;
      font-size: 38px;
      margin-bottom: 40px;
    }

    &__text {
      text-align: center;
      max-width: 550px;
      font-size: 20px;
    }

    &__img {
      max-width: 336px;
      max-height: 296px;
    }
  }

  .accordion {
    &__item {
      padding: 30px 47px 30px 55px;
      margin-bottom: 20px;
    }

    &__item-label {
      font-size: 24px;

      &::after {
        width: 40px;
        height: 40px;
        background-size: cover;
      }
    }

    &__item-text {
      margin-top: 30px;
    }
  }

  .form-wrapper {
    padding-bottom: 80px;
  }

  .form {
    &__inner {
      flex-direction: column-reverse;
    }

    &__box {
      margin: 0 auto;
    }

    &__info-title {
      font-size: 38px;
    }

    &__info-text {
      margin: 0 auto;
      text-align: center;
      max-width: 530px;
      margin-bottom: 30px;
    }

    &__info-img {
      display: none;
    }
  }

  .footer {
    &__inner {
      grid-gap: 30px 65px;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    &__social-img {
      width: 30px;
      height: 30px;
    }

    &__contacts {
      display: flex;
      margin: 0 auto;
      max-width: 100%;
    }

    &__contacts-address {
      margin-right: 110px;
    }

    &__info {
      text-align: center;
      margin: 0 auto;
      margin-top: 30px;
    }
  }
}

@media (max-width: 480px) {}

@media (max-width: 415px) {}

@media (max-width: 320px) {}